<div class="container">
    <h2>Your Gigs</h2>
    <button (click)="openAddModal()" class="btn btn-primary" style="margin: 10px;">Add new</button>
    <form #form="ngForm" class="form-inline mb-3 d-inline" (ngSubmit)="loadGigs()">
      <button class="btn btn-primary " type="submit">Apply Filter</button>
      <div class="form-check form-switch m-3">
        <input [checked]="filter" (change)="filter = !filter" type="checkbox" class="form-check-input align-self-end" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Gigs for current month</label>
      </div>
  </form>

    <div class="card mb-4" *ngFor="let gig of gigs; let i = index">
      <div class="card-body">
        <h5 class="card-header mb-1">Gig {{(pagination.currentPage * 10) + i + -9}}</h5>
        <h5 class="card-text mt-4">{{gig.title }}</h5>
        <p class="card-text text-primary">{{gig.taskrate | currency:'ZAR':'R'}} <i class="fa fa-money"></i></p>
        <a routerLink="/gigs/{{gig.id}}" class="stretched-link"></a>
        <a routerLink="/gigs/{{gig.id}}" class="btn btn-primary ms-3">View</a>
        <em class="card-text text-muted date">{{gig.date | date}}</em>
      </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;"
        firstText="&laquo;" 
        lastText="&raquo;">
      </pagination>
    </div>
  </div>
  