<div class="container">
    <button (click)="openAddModal()" class="btn btn-primary" style="margin: 10px;">Add new</button>
    <form #form="ngForm" class="form-inline mb-3 d-inline" (ngSubmit)="loadGigs()">
      <button class="btn btn-primary " type="submit">Apply Filter</button>

      <div class="form-check form-switch m-3">
        <input [checked]="filter" (change)="filter = !filter" type="checkbox" class="form-check-input align-self-end" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Gigs for current month</label>
      </div>

      <form class="form-inline mb-4" #messageForm="ngForm"  (ngSubmit)="(searchGigs())" autocomplete="on">
        <div class="input-group ">
            <input 
                name="messageContent"
                required
                [(ngModel)]="gigtitle"
                type="text" 
                class="form-control input-sm me-4" 
                placeholder="Search for gig by expertise">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"  >Search</button>
            </div>
        </div>
    </form>
  </form>

    <div class="card mb-4" *ngFor="let gig of gigs; let i = index">
      <div class="card-body">
        <h5 class="card-header mb-1">{{gig.title }}</h5>
        <h6 class="card-text mt-4">{{gig.description }}</h6>
        <p class="card-text ">{{gig.taskrate}} <i class="fa fa-money"></i></p>
        <strong><p class="card-text mt-4">{{gig.location }}</p></strong>
        <p><em class="card-text text-muted date">{{gig.date | date}}</em></p>
        <a routerLink="/mygigsdetail/{{gig.id}}" class="stretched-link"></a>
        <a routerLink="/mygigsdetail/{{gig.id}}" class="btn btn-primary ms-3">View</a>
      </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems" 
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" 
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;"
        firstText="&laquo;" 
        lastText="&raquo;">
      </pagination>
    </div>
  </div>
  